section.form-section
	.container
		.title
			h2.title.title__header get your free facebook analysits now
			.title__text Enter your details below

		.btn-down: a.arrow-down: i.fa.fa-angle-down

		.form-container.is-hidden
			form(method = 'post' action = '#').form
				button(type = 'button').form__close-button x
				.form__text.
					Enter your details below get your free facebook analysits now analysits, enter your details below get your free facebook analysits now

				.form__fields
					input.form__input(type = 'text' placeholder = 'Your Name')
					input.form__input(type = 'text' placeholder = 'Contact Number')
					input.form__input(type = 'text' placeholder = 'Contact Name')

				button(type = 'submit').button.button--uppercase.button--red Submit now