.about {
  padding: 100px 0;
  text-align: center;

  &__header {
    color: $main-text-color;
    font-family: $ff-main-bold;
    font-size: 1.375rem;
    margin-bottom: 12px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 50px;

  }

  &__item {
    width: 25%;
  }

  &__description {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #5c5c5c;
  }

}