body {
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  list-style-type: none;
}

.clearfix {
  &:after {
    content: '';
    clear: both;
    display: block;
  }
}