//fonts

$ff-main: 'helvetica';
$ff-main-bold: 'helvetica-bold';
$ff-main-light: 'helvetica-light';
$ff-steps: 'georgia-bold';

$main-text-color: #424242;
$red-color: #de2b24;
$yellow-color: #f8cd53;
$white-color: #fff;